* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: clamp(16px, 1.2rem, 4vw);
}

.main-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;

}

h1 {
    font-size: 3rem;
    color: orangered;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card {
    border: 2px solid orangered;
    padding: 1rem 0.7rem 2rem;
    border-radius: 5px;
    margin-top: 1rem;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (max-width:460px) {
    .card {
        width: 100%;
    }
    .all-btn-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    } 
}


#outputDisplay {
    width: 100%;
    border: none;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem;
    outline: none;
    border: none;
    border: 1px solid grey;
}

.all-btn-container {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    gap: 1rem;
    padding: 1rem 0.3rem 0rem;
    width: 100%;
    /* object-fit: contain; */
    
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.inputbtn {
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.inputbtn:hover {
    background: rgba(255, 68, 0, 0.931);
    color: white;
}

/* #equal-btn { */
    /* width: 40%; */
/* } */

.toggle {
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    outline: none;
    border: none;
    border-radius: 8px;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.toggleonwhite:hover {
    background: orangered;
    color: white;
}
marquee{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
marquee span{
    color: orangered;
    font-weight: 600;
}